# Node.js dependencies
frontend/node_modules/
frontend/.env

# Maven/Gradle output
backend/target/
backend/build/

# Logs
*.log

# IntelliJ IDEA files
*.iml
.idea/

# Eclipse/STS files
.project
.classpath
.settings/

# VS Code files
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
*.env
