.body {
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .home-container {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    left: 0px;
    top: 100px;
    background: #90C3FF;
  }
  
  .title{
    margin-top: 48px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 104px;
    line-height: 101px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  /* .title-paragraph{
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  } */
  
  .icon{
    height: 100px;
    width: 200px;
    margin-left: 100px;
  }
  
  .home-container-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: nowrap; /* Prevent wrapping */
  }
  
  .home-column {
    text-align: center;
    flex-basis: 33%; /* Ensures three equal columns */
    margin: 10px;
  }
  
  .home-container-columns h3 {
    margin: 20px 0 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }
.main-btn{
    width: 255px;
    height: 278px;
    background: #08121E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}
.main-btn:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.35); /* Enhance the shadow for popup effect */
}

  /* Adjust layout for smaller screens */
  @media (max-width: 768px) {
    .home-container-columns {
        flex-direction: column; /* Stack columns vertically on small screens */
    }
    .home-column {
        flex-basis: 100%; /* Full width for each column on small screens */
    }
  }
/*Places container*/
.places-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 100vh;
    background: #ffffff;

}
  
  /*---------Explorer container-----------*/
  
  .explore-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 200vh;
    background: #ffffff;
  }
  .explore-container-columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: nowrap; /* Prevent wrapping */
  }
  
  .explore-img{
    width: 280px;
    height: 238px;
  }
  
  .explore-column h3{
    width: 280px;
    height: 90px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000000;
    padding-top: 24px;
  }
  
  .explore-column p{
    width: 280px;
    height: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin-top: 24px;
  }
  
  .explore-btn{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: auto;
    height: 38px;
    border: none;
    background: #FF6F61;
    border-radius: 100px;
    margin: 24px 0 0 64px;
    padding: 0 16px ;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .explore-btn:hover{
    background-color: #FF3B2F;
    transform: scale(1.05);
  }