.suggestionsList {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion:hover {
  background-color: #f0f0f0;
}
